.navbar{
    background-color: black;
    color: greenyellow;
}

.navbar-brand{
    font-weight: bold;
}


.form-control{
    margin: 0 8px;
}

.form-group{
    font-weight: bold;
    color: green;
}

.text-center{
    color: rgb(6, 62, 6);
}